<launch>
    <!-- Enable or disable cameras -->
    <arg name="cameras" default="false" />

    <!-- Start driver notification node -->
    <node pkg="rosweld_drivers" name="rosweld_drivers" type="logger.sh" output="screen" respawn="true"/>
    
    <!-- Start lab control node -->
    <include ns="move_it_robot" file="$(find rosweld_tools_examples)/launch/lab.launch" />

    <!-- Start NACHI driver to communicate with the real robot -->
    <include ns="nachi_robot" file="$(find rosweld_drivers)/launch/nachi.launch">
        <arg name="update_port" value="8001" />  
        <arg name="command_port" value="8000" />  
        <arg name="ip" value="192.168.1.200" />
        <arg name="robot_name" value="nachi_robot" />
    </include>

    <!-- Start move_it_robot node for the simulation -->
    <include ns="move_it_robot" file="$(find rosweld_drivers)/launch/moveit.launch" >
        <arg name="robot_name" value="move_it_robot" />
    </include>

    <!-- Start OTC WPS driver to control the welding equipment -->
    <include ns="welding_driver" file="$(find rosweld_drivers)/launch/otcwps.launch" >
        <arg name="port" value="8002" />  
        <arg name="ip" value="192.168.1.200" />
        <arg name="wps_name" value="welding_driver" />
    </include>

    <!-- Start MicroEpsilon laser scanner driver -->
    <include ns="laser_scanner" file="$(find rosweld_drivers)/launch/uepsilon.launch" >
        <arg name="laser_name" value="laser_scanner" />
        <arg name="dump_size" value="10" />
        <arg name="trigger_robot_name" value="nachi_robot" />
        <arg name="laser_tcp" value="scanner" />
        <arg name="log_dir" value="/home/ubuntu/laser_log" />
        <arg name="serial" value="214040020" />
        <arg name="resolution" value="320" />
    </include>

    <!-- Start ROS bridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    
    <!-- Include cameras -->
    <include if="$(arg cameras)" file="$(find rosweld_tools_examples)/launch/ppm_cameras.launch"/>
    
    <!-- Start ROSweld Core -->
    <include file="$(find rosweld_tools_examples)/launch/core.launch"/>
</launch>